# Telegram Bot
BOT_TOKEN=123:abc            # ваш_токен_бота_от_BotFather
WEBHOOK_SECRET=test_secret   #случайная_строка_для_защиты_вебхука
WEBHOOK_URL=https://yourdomain.com

# PostgreSQL
DB_USER=postgres
DB_PASSWORD=strong_password
DB_HOST=localhost
DB_NAME=steam_tracker

# Redis
REDIS_URL=redis://localhost:6379/0

# Шифрование SteamID (генерируется командой)
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FERNET_KEY=f9O81...   #ваш_сгенерированный_ключ_fernet

# Steam аккаунт
STEAM_USERNAME=логин_steam
STEAM_PASSWORD=пароль_steam
STEAM_GUARD_FILE=/путь/к/файлу/steam.maFile   # например, /app/guard.maFile
STEAM_AUTH_MODE=aiosteampy                    # пока поддерживается только этот режим
STEAM_SESSION_TTL=604800                      # время жизни сессии в секундах (7 дней)

# Приложение
APP_ID=730                 # CS:GO
CURRENCY_SYMBOL=₽          # или $, € и т.д.

# Опционально (для обратной совместимости, не используется)
STEAM_COOKIES=